In [11]:
import numpy as np
import pandas as pd

In [26]:
df = pd.read_csv("StudentsPerformance.csv")
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,NaN,72,72.0,74
1,female,group C,some college,standard,completed,69,90.0,88
2,female,group B,master's degree,standard,NaN,90,95.0,93
3,male,group A,associate's degree,free/reduced,NaN,47,57.0,44
4,male,group C,some college,standard,NaN,76,78.0,75

In [25]:
df.isnull()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False
3,False,False,False,False,True,False,False,False
4,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False
996,False,False,False,False,True,False,False,False
997,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False
999,False,False,False,False,True,False,False,False

In [24]:
df["test preparation course"].isnull().sum()

642

In [22]:
df.isnull().sum()

gender                           0
race/ethnicity                   0
parental level of education      0
lunch                            0
test preparation course        642
math score                       0
reading score                   36
writing score                    0
dtype: int64

In [20]:
df["reading score"].isnull().sum()

36

In [21]:
df["test preparation course"].isnull().sum()

642